@model TCS2010NX.Models.Department

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/component.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<div class="container" style="margin-bottom: 30%">

    <h1>Details</h1>

    <div>
        <h4>Department</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>