@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link href="~/css/login.css" rel="stylesheet" />


<div class="session" style="margin-bottom: 20%">
    <div class="left">
        <?xml version="1.0" encoding="UTF-8" ?>

    </div>


    <form action="" class="log-in" autocomplete="off" id="account" method="post">
        <h4>We are <span>GreenSchool</span></h4>
        <p>Welcome Student! Log in to your account :</p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}