@{ ViewData["Title"] = "Home Page"; }

<head>
    <meta charset="utf-8">
    <title>Ethereal - Free Responsive HTML5 Website Template</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60"> 
    <div class="banner" id="banner">
        <div class="bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-text">
                            <h2>Welcome to <span style="color:#15427d">GreenSchool</span> Unversity</h2>
                            <p>Chương trình LKĐT giữa trường Green với trường ĐH Greenwich, Vương quốc Anh)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-box media">
                        <div class="icon-box text-center pull-left media-object"> <i><img src="~/images/event_1.jpg"></i></div>
                        <div class="feature-text media-body">
                            <h4>[HN] Talk show: The story of Hien - When I was twenty</h4>
                            <p class="feature-detail">On the morning of March 25, the talk show "The Story of Hien - When I'm Twenty" took place in room B9.1, Detech campus attracts the attention of numerous students.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-box media pull-left" style="width:100%;">
                        <div class="icon-box text-center pull-left media-object"> <i><img src="~/images/event_3.jpg"></i></div>
                        <div class="feature-text media-body">
                            <h4>[HN] Brave talk 2021: BREAK THE NORM</h4>
                            <p class="feature-detail">In the campaign BE BRAVE 2021, the goal is to motivate young people to overcome barriers and become brave, Bravers - Marketing Club.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="feature-box media pull-left" style="width:100%;">
                        <div class="icon-box text-center pull-left media-object"> <i><img src="~/images/event_2.jpg"></i></div>
                        <div class="feature-text media-body">
                            <h4>Let's learn Machine Learning together!</h4>
                            <p class="feature-detail">
                                On the afternoon of March 20, the workshop “Let's Learn Machine Learning together” held at Detech campus in Hanoi attracted a lot of interest from students.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->
    <div id="work" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center text">
                    <h3>Public posts</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="portfolio-item"> <p>Class Code</p> <a href="#"> <img class="img-portfolio img-responsive" src="~/images/coursework.jpg"> </a> </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="portfolio-item"> <p>Class Code</p> <a href="#"> <img class="img-portfolio img-responsive" src="~/images/coursework.jpg"> </a> </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="portfolio-item"> <p>Class Code</p> <a href="#"> <img class="img-portfolio img-responsive" src="~/images/coursework.jpg"> </a> </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="portfolio-item"> <p>Class Code</p> <a href="#"> <img class="img-portfolio img-responsive" src="~/images/coursework.jpg"> </a> </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="portfolio-item"> <p>Class Code</p> <a href="#"> <img class="img-portfolio img-responsive" src="~/images/coursework.jpg"> </a> </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="portfolio-item"> <p>Class Code</p> <a href="#"> <img class="img-portfolio img-responsive" src="~/images/coursework.jpg"> </a> </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <div class="about" id="about" style="margin-bottom: 20%">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>About Us</h3>
                </div>
                <div class="col-md">
                    <div class="about-text">
                        <p style="font-size: 25px">
                            Greenschool University was formed on the basis of the association between the University of Greenwich (UK) and the Greenschool Education Organization since 2009 with more than 12,000 students from 12 countries around the world have been studying.

                            Training content, faculty and facilities are accredited and quality recognized by UK experts and the University of Greenwich.

                            UK education is famous around the world with rigorous standards to ensure professionalism and practicality, to meet the growing needs in work. Studying at Greenwich University, students have access to the quintessence of British education, when graduating receive a Bachelor's degree from the University of Greenwich.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/js/jquery.waypoints.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({

                navigation: false, // Show next and prev buttons
                slideSpeed: 500,
                autoPlay: 3000,
                paginationSpeed: 400,
                singleItem: true

                // "singleItem:true" is a shortcut for:
                // items : 1,
                // itemsDesktop : false,
                // itemsDesktopSmall : false,
                // itemsTablet: false,
                // itemsMobile : false

            });

        });

        /*$('.timer').each(count);*/
        jQuery(function ($) {
            // custom formatting example
            $('.timer').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });


            // start all the timers
            $('#testimonials').waypoint(function () {
                $('.timer').each(count);
            });

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });


        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            });
            $(".portfolio-item").hover(function () {
                console.log('ok');
                $(this).children('#text_item').css("display", "block");
            }, function () {
                $(this).children('p').css("display", "none");
            });
        });
    </script>
</body>
